@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#2980b9), to(#ecf0f1)) fixed;
  background: -moz-gradient(linear, left top, left bottom, from(#2980b9), to(#ecf0f1)) fixed;
  text-align: center;
  color: #333F4E;
  font-family: 'Lato', Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2c3e50;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: #FFF;
  margin: 0;
  padding: 10px;
}

/*.main-img {
  margin: 0 auto;
  padding-bottom: 15px;
  max-width: 75px;
  float: left;
}

.main-img img {
  width: 75px;
  max-width: 75px;
}*/

#search {
  padding: 100px 0;
}

input{
  background-color: #FFF;
  border: 1px solid #1E232D;
  padding: 10px 20px;
  font-size: 1em;
  width: 150px;
  border-radius: 3px;
}

button {
  background-color: transparent;
  border: 1px solid #1E232D;
  margin: 10px 5px;
  padding: 10px 20px;
  font-size: 1em;
  width: 150px;
  border-radius: 3px;
}

.container {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.child {
  width: 30%;  /* Or whatever */
  height: 300px; /* Or whatever */
  margin: auto;  /* Magic! */
  background-color: #FFF;
  margin-bottom: 30px;
  border-radius: 3px;
}

.child img {
  width: 100%;
  border-radius-top: 3px;
}

.label {
  padding: 3px;
}

footer span {
  color: #c0392b;
}


@media (max-width: 480px) { 
    .main-img {
        max-width: 50px;
    }

#quote {
        padding: 15px;
        line-height: 2em;
    }

    h1 {
        font-size: 1.35em;
    }
}
