@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#7f8c8d), to(#ecf0f1)) fixed;
    background: -moz-gradient(linear, left top, left bottom, from(#7f8c8d), to(#ecf0f1)) fixed;
    text-align: center;
    color: #1E232D;
    font-family: 'Lato', Helvetica, sans-serif;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.main-img {
    margin: 0 auto;
    padding-top:100px;
    padding-bottom: 15px;
    max-width: 75px;
}

.main-img img {
    width: 75px;
    max-width: 75px;
}

.container {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.child {
  width: 30%;  /* Or whatever */
  height: 300px; /* Or whatever */
  margin: auto;  /* Magic! */
  background-color: #FFF;
  margin-bottom: 30px;
}

.child {
    
}

.child img {
    width: 100%;
}

.label {
    padding: 3px;
}
input{
    background-color: #FFF;
    border: 1px solid #1E232D;
    padding: 10px 20px;
    font-size: 1em;
    width: 150px;
    border-radius: 3px;
}

button {
    background-color: transparent;
    border: 1px solid #1E232D;
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 1em;
    width: 150px;
    border-radius: 3px;
}

@media (max-width: 480px) { 
    .main-img {
        max-width: 50px;
    }

#quote {
        padding: 15px;
        line-height: 2em;
    }

    h1 {
        font-size: 1.35em;
    }
}
